head
  title PDF Renderer - Test app
body
  +svgTest

template(name='svgTest')
  button PDF
  hr
  if Template.subscriptionsReady
    with customer
      h1= name
      with address
        p= street
        p= city
    with table
      table
        thead
          tr
            th= tableName
            each labels
              th= this
        tbody
          each lines
            tr
              each this
                td= this
  else
    p Loading...
  hr
  svg.chart
